<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-fullwidth">
                <div class="whitebox padd-20 clearfix">
                    
                    <div class="col-left">
                        <h1>Post Jobs</h1>
                        
                        <!-- Post Jobs Form Here-->
                                                
                        <form class="stdform stdform2 form">
                             <div class="col-half-left">
								<%= f.label :"Job Title" %><br>
								<%= f.text_field :title, placeholder: "Ex. Software Engineer, Quality Analyst" %>
							 </div>
                             							 
							 <div class="col-half-left">
								<%= f.label :"Company Name" %><br>
								<%= f.text_field :company, placeholder: "Ex. IBM, TechM, Wipro" %>
							 </div>
							 
							 
							 <div class="col-half-left">
								<%= f.label :"Company Url" %><br>
								<%= f.text_field :comurl, placeholder: "Ex. www.ibm.com" %>
							 </div>
							 
							 
							  <div class="col-half-left">
								<%= f.label :"Designation" %><br>
								<%= f.text_field :designation, placeholder: "Ex. R&D Engineer, Senior Developer" %>
							 </div> 
							 
							 <div class="col-half-left">
								<%= f.label :"Designation" %><br>
								<%= f.text_field :designation, placeholder: "Ex. R&D Engineer, Senior Developer" %>
							 </div>
							 
							<div class="col-half-left">
									<div style="display: inline-block;">
											<%= f.label :"Salary" %>
											
											<%= f.select :minsalary, options_for_select([["Min Salary (LPA)", ""], "1", "2", "3", "4", "5"]), :class => 'genForm_dropBox' %></br>
											
											<%= f.select :maxsalary, options_for_select([["Max Salary (LPA)", ""], "1", "2", "3", "4", "5"]), :class => 'genForm_dropBox' %></br>
																			
									</div>
							</div>		
							
							<div class="col-half-left">
									<div style="display: inline-block;">
											<%= f.label :"Experience" %>
											
											<%= f.select :minexp, options_for_select([["Min Salary (Years)", ""], "1", "2", "3", "4", "5"]), :class => 'genForm_dropBox' %></br>
											
											<%= f.select :maxexp, options_for_select([["Max Salary (Years)", ""], "1", "2", "3", "4", "5"]), :class => 'genForm_dropBox' %></br>
																			
									</div>
							</div>		
							
							<div class="col-half-left">
									<div style="display: inline-block;">
											<%= f.label :"Notice Period" %>
											
											<%= f.select :nperiod, options_for_select([["Select Period (Days)", ""], "1", "2", "3", "4", "5"]), :class => 'genForm_dropBox' %></br>
																	
									</div>
							</div>		
							
							<div class="col-half-left">
								 <%= f.label :"Job Category" %>
								<%= f.select :category_id, Category.all.collect {|x| [x.name ,x.id]}, {:include_blank => "Select One"} %><br />
							 </div>
							 
							 
							 <div class="col-half-left">
									<%= f.label :"Job Location" %><br>
									<%= f.select :location_id, Location.all.collect {|x| [x.name ,x.id]}, {:include_blank => "Select One"} %><br />
							</div>
							<div class="col-half-left">
									<%= f.label :"Job Mode" %><br>
									<%= f.select :mode_id, Mode.all.collect {|x| [x.name ,x.id]}, {:include_blank => "Select One"} %><br />
							</div>
							<div class="col-half-left">
									<%= f.label :"Job Type" %><br>
									<%= f.select :jtype_id, Jtype.all.collect {|x| [x.name ,x.id]}, {:include_blank => "Select One"} %><br />
							</div>
							
							
							<div class="col-half-left">
								<%= f.label :"Preferred Gender" %><br>
								<%= f.select :gender_id, Gender.all.collect {|x| [x.name ,x.id]}, {:include_blank => "Select One"} %><br />
							</div>
  
							 <div class="col-half-left">
								<%= f.label :"Contact Person" %><br>
								<%= f.text_field :contactperson %>
							 </div>
							
							
							 
							 <div class="col-half-left">
								<%= f.label :"Designation" %><br>
								<%= f.text_field :designation, placeholder: "Ex. R&D Engineer, Senior Developer" %>
							 </div>
							 
							  
							 <div class="col-half-left">
								<%= f.label :"Contact Number" %><br>
								<%= f.text_field :contactno, placeholder: "Ex. +919945508524" %>
							 </div>
							 
							  
							 <div class="col-half-left">
								<%= f.label :"Contact Email" %><br>
								<%= f.text_field :contactemail, placeholder: "Ex. ram@gmail.com" %>
							 </div>
							
							<div style="float: left; width: 100%;">
								<%= f.label :"Description" %><br>
								<%= f.text_area :description %>
									<script>
										CKEDITOR.replace( 'job_description' );
									</script>
							</div>
							
							<div class="actions">
								<%= f.submit %>
							</div>
							
									
									
							 
							 
							 
							 
							 
							 
							 
						
					
					
					
					
					
					
					
					
					
					
					
					
						<div class="col-half-right">
							<li>Ads</li>
                        </div>   						
					</form>
						
						
                                
                    </div>          
                </div>
</div>
  

<% end %>
