<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @referral.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @referral.lname %>
</p>

<p>
  <strong>Company:</strong>
  <%= @referral.company %>
</p>

<p>
  <strong>Comurl:</strong>
  <%= @referral.comurl %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @referral.designation %>
</p>

<p>
  <strong>Currsalary:</strong>
  <%= @referral.currsalary %>
</p>

<p>
  <strong>Expsalary:</strong>
  <%= @referral.expsalary %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @referral.exp %>
</p>

<p>
  <strong>Location:</strong>
  <%= @referral.location_id %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @referral.mode_id %>
</p>

<p>
  <strong>Jtype:</strong>
  <%= @referral.jtype_id %>
</p>

<p>
  <strong>Nperiod:</strong>
  <%= @referral.nperiod %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @referral.gender_id %>
</p>

<p>
  <strong>Contactemail:</strong>
  <%= @referral.contactemail %>
</p>

<p>
  <strong>Contactno:</strong>
  <%= @referral.contactno %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @referral.resume %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= link_to @referral.resume, @referral.attachment_url %>
</p>

<p>
  <strong>Jobid:</strong>
  <%= @referral.jobid %>
</p>

<%= link_to 'Edit', edit_referral_path(@referral) %> |
<%= link_to 'Back', referrals_path %>
