<!DOCTYPE html>
<html>
<head>
  <title>Ask4Referral</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div>
		<u1 class="main-nav">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Find Jobs", jobs_path %></li>
				<li><%= link_to "Post Job", new_job_path %></li>
				<li><%= link_to "About Us", about_path %></li>
				<li><%= link_to "Contact Us", contact_path %></li>
		</u1>
</div>

<% flash.each do |key,value| %>
<p><%= value %></P>
<% end %>

<%= yield %>

</body>
</html>
